@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.devicon-devicon-react-original {
  max-width: 4em;
}

/* A hack to fix a white background for an edge case of some phones having white background at bottom due to toolbar */
html {
  background: linear-gradient(
    176deg,
    rgb(18, 24, 27) 50%,
    rgb(32, 39, 55) 100%
  );
  background-attachment: fixed;
}
/* fake change */
/* if you want to change the original color */
.devicon-devicon-react-original path {
  fill: #277dee;
}

.devicon {
  font-size: 3.3rem;
  color: azure;
}

@media (max-width: 500px) {
  .devicon {
    font-size: 2.3rem;
    color: azure;
  }
  .test {
    color: hsl(218, 13%, 17%);
  }
}

* {
  box-sizing: border-box;
}
div.aPage {
  /* height: 100vh; */
  /* width: 100vw; */
}

.app {
  font-family: "Rubik", sans-serif;
  /* min-height: 100vh; */
  background: linear-gradient(
    176deg,
    rgb(18, 24, 27) 50%,
    rgb(32, 39, 55) 100%
  );
  background-attachment: fixed;
}

.bounce {
  position: relative;
  top: 0;
  animation: myBounce 5s;
  font-size: 3rem;
  display: block;
  animation-iteration-count: infinite;
}

@keyframes myBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    /* -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0); */
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
